* {
    color: #C9C9C9;
    background-color: #505050;
    /* Scale down anything larger than our view while maintaining ratios. */
    max-width: 100%;
}
a {
    color: #69a5ff;
    font-size: 1.3em;
    margin: 0.1em;
}
.small {
    font-size: 1.15em;
}
.title {
    font-weight: bold;
    font-size: 1.95552em;
    margin-top: 0;
    margin-bottom: 0em;
}
.text {
    text-align: justify;
    word-wrap: break-word;
}
#article {
    text-rendering: optimizeLegibility;
    font-family: -apple-system-font, 'Helvetica', Arial, Verdana, sans-serif;
}
